$true_black: #000;
$true_white: #fff;
$white_1: #f7f8fd;
$white_2: #f3f3f3;
$white_3: #e8e8e8;
$white_4: #e5e5e5;
$white_5: #f7f7f7;
$white_6: #f7f8fd;
$white_7: #f5f5f5;
$extra_light_gray: #fafbff;
$light_gray: #b8c7d8;
$gray: #bebebe;
$gray_1: #abb1cc;
$placeholder_gray: #c3c4ce;
$light_gray_blue_1: #e4e6f0;
$light_gray_blue_2: #ecedf0;
$light_gray_blue_3: #e4e5ed;
$light_gray_blue_4: #edeff7;
$light_gray_blue_5: #e9eaf2;
$light_gray_blue_6: #e8ebed;
$light_gray_blue_7: #dfe1ed;
$light_gray_blue_8: #ced1e4;
$light_gray_blue_9: #bac0db;
$pastel_blue: #969cc5;
$gray_blue: #a5b1ba;
$gray_blue_1: #9c9da5;
$gray_blue_2: #838591;
$gray_blue_3: #7e8195;
$gray_blue_4: #6a6d83;
$gray_blue_5: #686e95;
$gray_blue_6: #585a69;
$wild_blue_yonder: #868db3;
$wild_blue_yonder_1: #6b7299;
$dark_blue: #2e303e;
$blue: #4e89b9;
$blue_1: #336e9d;
$blue_2: #316996;
$blue_3: #073cb2;
$blue_4: #52c5e2;
$light_blue_green: #7dc9c2;
$light_blue_green_1: #7fcac3;
$blue_green: #4eb5ab;
$blue_green_1: #179e98;
$purple: #9172c7;
$purple_1: #9475cc;
$purple_2: #9367b9;
$purple_3: #673bb7;
$dark_purple: #71518d;
$light_pink: #faf0f0;
$light_pink_1: #ffeded;
$pink: #f09c9c;
$pink_hover: #f07f7f;
$valid_pink: #ffb4b4;
$red: #e74b4b;
$red_1: #e52525;
$yellow: #f7ee17;
$yellow_1: #fff2ae;
$orange: #e3a52f;
$orange_1: #c08008;
$hopbush: #cc6e97;
$hopbush_1: #c45686;

$modal_bg: #7e8195cc;
$comment_bg: #f2f3f7;
$comment_box: #dce5ef;

$gradient_pink_blue: linear-gradient(45deg, #e39999, #8a8faf);
