$gentle_bluish_purple: #6a6d83;
$true_white: #fff;
$white_1: #f7f8fd;
$true_black: #000;
$main_background_color: #fafbfc;

$main_color: #2e303e;
$sub_color: #9c9da5;
$link_color: #f09c9c;
$link_color_alt: #f08e8e;
$ruled_line: #e8ebed;
$radio_active: #89d3ca;
$radio_gray: #d8d8d8;
$event_color: #2acc3d;
$quote_color: #8d560e;
$danger_color: #e52525;
$sand_color: #f8eed4;
$peach_color: #ffddad;
$chart_text: #725661;
$questionnaire_color: #e3b242;
$event_questionnaire_color: #2aadcc;
$light_pink: #faf0f0;
$invalid_pink: #ffb4b4;
$date_division_line: #50536e;
$graph_background_color: #ecedf0;
$comment_line: #d9e2e8;
$job_type_border: #dcdeeb;
$thank_you_card_background_color:#f4e8dc;
$activity_body:#fdf4eb;
$activity_line:#ccc078;
$marigold: #f5bc49;

$event_color: #2acc3d;
$event_icon_color: #02b97a;
$questionnaire_color: #e3b242;
$event_questionnaire_color: #2aadcc;
$comment_color: #5b6380;
$reply_color: #5c637c;

$button_background_color: #e4e5ed;
$background_color: #f2f3f7;
$button_color: $gentle_bluish_purple;
$image_select_button_color: #d8d8d8;
$icon_gray: #7e8195;
$icon_brown: #90747f;
$baby_blue: #ebecf5;
$powder_blue: #f0f5fa;
$powder_pink: #fae6eb;
$pink_orange: #efa091;
$desert_color: #faf1e8;
$mustard: #c1772d;

$input_text_color: $gentle_bluish_purple;
$input_background_color: #eff0f7;
$input_text_background_color: #fafbff;
$input_ruled_line_color: $ruled_line;
$background_color_pattern_1: #eff0f7;
$background_color_pattern_2: #f5dcde;
$background_color_pattern_3: #f4e8dc;

$text_gray: #585a69;

$gradient_1: linear-gradient(45deg, #cddcfe, #ffe0ba);
$gradient_2: linear-gradient(45deg, #ebecf5, #fae6eb);
$gradient_3: linear-gradient(45deg, $sand_color, $peach_color);
$gradient_4: linear-gradient(45deg, #ededef, #fdf0f0);
$gradient_pink_blue: linear-gradient(45deg, #e39999, #8a8faf);
$gradient_5: linear-gradient(268deg, #b2b7d8, #f09c9c);
$gradient_6: linear-gradient(263deg, $powder_pink 0%, $baby_blue 100%);
$gradient_7: linear-gradient(45deg, $baby_blue, $powder_pink);
$gradient_8: linear-gradient(180deg, #fae6eb 0%, #ebecf5 100%);
$gradient_9: linear-gradient(268deg, #f09c9c, #c9cfe8);
$gradient_10: linear-gradient(45deg, #c9cfe8, #f09c9c);

$box-shadow: #dce5ef;
$box-shadow-dark: #0000001f;

$light_gray: #b8c7d8;
$gray: #bebebe;
$button_gray: #9a9cac;
$placeholder_gray: #c3c4ce;
$placeholder_gray_2: #989cb5;
$light_gray_blue_1: #e4e6f0;
$light_gray_blue_2: #ecedf0;
$light_gray_blue_3: #e4e5ed;
$light_gray_blue_4: #edeff7;
$light_gray_blue_5: #e9eaf2;
$gray_blue_1: #9c9da5;
$gray_blue_2: #838591;
$gray_blue_3: #7e8195;
$gray_blue_4: #6a6d83;
$gray_blue_5: #686e95;
$message_gray_blue_5: #f0f0ff;
$dark_blue: #2e303e;
$extra_light_gray: #fafbff;
