@charset "utf-8";
/*------------------------------------------------------------
	汎用スタイル
------------------------------------------------------------*/
/* clearfix */	
.clearfix:after {content: "";display: block;clear: both;}
/* flex */	
.flex,.flexA,.flexB,.flexC {display: flex;flex-wrap: wrap;}
.flexA {justify-content: space-around;}
.flexB {justify-content: space-between;}
.flexC {justify-content: center;}
/*------------------------------------------------------------
	topTtlBox
------------------------------------------------------------*/
.topTtlBox {
	margin-bottom: 40px;
	padding: 5px 31px;
	display: flex;
	min-height: 80px;
	box-sizing: border-box;
	align-items: center;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.95);
}
.topTtlBox h2 {
	font-size: 2.8rem;
	color: #2E303E;
}
.topTtlBox h2 .txtSpan {
	display: block;
	font-size: 1.6rem;
	color: #9C9DA5;
	font-weight: normal;
	margin-bottom: -5px;
}
/*------------------------------------------------------------
	content
------------------------------------------------------------*/
.content {
	padding: 40px 30px 50px;
	background-color: rgba(255,255,255,0.2);    
}



/*------------------------------------------------------------
	comBox
------------------------------------------------------------*/
.comBox {
	margin-bottom: 30px;
	min-height: 103px;
	padding: 27px 40px 22px;
	box-sizing: border-box;
	position: relative;
	background-color: #FFEAE0;
	border-radius: 12px;
}
.comBox .photo {
	position: absolute;
	top: -62px;
	right: 30px;
}
.comBox .subBox {
	width: 87%;
}
.comBox p {
/*	font-weight: bold;*/
	color: #AD6E53;
	margin-bottom: 16px;
	font-size: 1.8rem;
	line-height: 1.56;
}
.comBox .pink {
	color: #F07F7F;
}
.comBox .pink:hover {
	text-decoration: underline;
	color: #EB4646;
}
.comBox p:last-child {
	margin-bottom: 0;
}
.comBox h3 {
	margin: 0 50px 11px 0;
	font-size: 2.4rem;
	line-height: 1.33;
	color: #AD6E53;
}


/*------------------------------------------------------------
	detailsLink
------------------------------------------------------------*/
.detailsLink {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}
.detailsLink a {
	padding: 4px 10px 3px;
	box-sizing: border-box;
	display: block;
	border-radius: 50px;
	text-align: center;
	font-size: 1.3rem;
	color: #F09C9C;
	background-color: rgba(255,255,255,0.5);
}
.detailsLink a:hover {
	color: #F07F7F;
	background-color: rgba(255,255,255,0.80);
}
.detailsLink .subSpan {
	padding-left: 24px;
	display: inline-block;
	background: url("../../image/common/details_link_icon.png") no-repeat left center;
	background-size: 18px auto;
}

/*------------------------------------------------------------
	viewLink
------------------------------------------------------------*/
.viewLink {
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
}
.mtViewLink {
	margin-top: -16px;
}
.viewLink a {
	padding: 5px 5px 4px;
	display: block;
	width: 240px;
	text-align: center;
	font-weight: bold;
	color: white;
	line-height: 1.87;
	box-sizing: border-box;
	background-color: #F09C9C;
	border-radius: 8px;
}
.viewLink a:hover {
	background-color: #F07F7F;
}

/*------------------------------------------------------------
	prevLink
------------------------------------------------------------*/
.prevLink {
	margin: -59px 0 29px;
	width: 70px;
}
.prevLink a {
	padding: 4px 4px 4px 19px;
	display: block;
	font-size: 1.3rem;
	font-weight: bold;
	color: #6A6D83;
	text-align: center;
	border: 1px solid #E4E5ED;
	border-radius: 4px;
	background: #EDEFF7 url("../../image/common/prev_icon.png") no-repeat left 10px center;
	background-size: 10px auto;
}
.prevLink a:hover {
	background-color: #E4E6F0;
}


@media all and (-ms-high-contrast:none){
	.topTtlBox {
        height: 80px;
	}
}

.popBox {
    display: none;
}
.popInner {
	width: 1000px;
    box-sizing: border-box;
	padding: 20px 14px 25px 30px;
	position: relative;
	background: #fff;
	box-shadow: 0px 0px 3px #b8c7d8;
	border-radius: 4px;
}
.popClose {
	position: absolute;
	right: 10px;
	top: 10px;
}
.popClose a:hover {
	opacity: 0.7;
}
.popTtl {
	margin-bottom: 15px;
	font-size: 2rem;
	color: #2e303e;
}
.popBox .comBox {
	padding: 20px 20px 16px;
}
.popBox .comBox p {
	font-size: 1.5rem;
	line-height: 1.6;
}
.popBox .comBox p a {
	color: #F07F7F;
}
.popBox .comBox p a:hover {
	text-decoration: underline;
	color: #EB4646;
}
.popBox .featuresBox {
	border: 1px solid #e4e5ed;	
    background-color: rgba(255,255,255,0.8);
}
.popBox .comInner {
	margin-bottom: 30px;
	padding-bottom: 15px;
}
.popBox .comInner01 {
	padding: 10px;
}
.popColTxt .comInner {
	margin-bottom: 10px;
	padding: 11px 10px 10px;
	display: flex;
}
.popColTxt .comInner .ttl {
	width: 65px;
}
.popColTxt .comInner .txt {
	width: calc(100% - 70px);
}
.popBox .mainBox {
	margin-bottom: 25px;
	align-items: flex-start;
}
.popBox .mainBox .lBox {
	position: relative;
}
.popBox .mainBox .rBox {
	width: 572px;
}
.popBox .img {
	position: relative;
}
.popBox .mainBox .img {
	margin: 10px -5px 16px;
}
.popLine {
	margin-bottom: 30px;
	height: 1px;
	background: #e0e0e0;
	border: none;
}
.popBox .imgList {
	margin: -5px -5px 0 0;
	display: flex;
	justify-content: space-between;
}
.popBox .imgList li {
	width: 469px;
	position: relative;
}
.popBox .imgList span {
	position: absolute;
	display: inline-block;
}
.popBox .posTxt01 {
	position: absolute;
	padding: 4px 10px;
	right: 10px;
	top: 13px;
	font-size: 1.1rem;
	line-height: 1.37;
	font-weight: bold;
	color: #757265;
	border-radius: 4px;
	background: #fffbc7;
	border: 1px solid #face96;
	box-sizing: border-box;
}
.popBox .txtIndent {
	display: inline-block;
	text-indent: -1.4em;
	padding-left: 20px;
}
.popBox .txtIndent span {
	font-size: 1.5rem;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1;
}
.popBox .posTxt02 {
	position: absolute;
	padding: 11px 10px;
	left: 8px;
	top: 133px;
	box-sizing: border-box;
	font-size: 1.3rem;
	line-height: 1.23;
	font-weight: bold;
	color: #FFF;
	border-radius: 4px;
	background: #686e95;
	opacity: 0.9;
}
.popBox .imgList .txt02 {
	left: 43px;
	top: 337px;
}
.popBox02 .stepTxt {
	position: absolute;
	padding: 1px 6px;
	left: 66px;
	bottom: 93px;
	font-size: 1.5rem;
	color: #757265;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	line-height: 1.2;
	border-radius: 4px;
	background: #fffbc7;
	border: 1px solid #face96;
}
.popBox02 .mainBox .rBox {
	width: 466px;
}
.popBox02 .mainBox .rBox .img {
	margin: -5px 0 0;
	text-align: center;	
}
.popBox02 .mainBox .rBox .stepTxt {
	left: 20px;
	top: 5px;
	bottom: auto;
}
.popBox02 .imgList li {
	width: 302px;
}
.popBox02 .imgList li:last-child {
	width: 329px;
}
.popBox02 .mainBox01 {
	justify-content: flex-start;
	align-items: center;
}
.popBox02 .mainBox01 .comInner {
	padding-bottom: 30px;
	margin: 0 35px 0 0;
	width: 300px;
	box-sizing: border-box;
}
.popBox02 .mainBox01 .rBox {
	width: inherit;
}
.popBox02 .mainBox02 {
	align-items: stretch;
}
.popBox02 .mainBox02 .comInner {
	margin-bottom: 0;
	width: 600px;
	box-sizing: border-box;
}
.popBox02 .mainBox02 .comInner:nth-child(2n) {
	width: 320px;
}
.popBox02 .mainBox strong {
	display: block;
	min-height: 35px;
}
.popBox03 .comBox {
	margin-bottom: 45px;
}
.popBox03 .img01 {
	margin: -10px -5px 20px 0;	
}
.popBox03 .img01 .txt01 {
	right: auto;
	left: 435px;
	top: 288px;
}
.popBox03 .img01 .txt02 {
	right: 80px;
	top: 25px;
}
.popBox03 .img01 .txt03 {
	left: 181px;
	top: 15px;
}
.popBox03 .img01 .txt04 {
	left: 672px;
	top: 258px;
}
.popBox03 .img02 {
	margin: -15px 0 20px;	
}
.popBox03 .img02 .posTxt01 {
	padding: 3px 5px;
	right: auto;
	left: 105px;
	top: 15px;
}
.popBox03 .img02 .posTxt02 {
	width: 202px;
	left: 690px;
	top: 168px;
}
.popBox04 .comBox {
	margin-bottom: 45px;
}
.popBox04 .mainBox .comInner {
    margin-bottom: 0;
	width: 310px;
}
.popBox04 .mainBox .img {
	margin: -5px -5px 0 0;
}
.popBox04 .yelText {
	margin-top: 22px;
	padding: 10px 10px 11px;
	color: #757265;
	border-radius: 4px;
	background: #fffbc7;
	border: 1px solid #face96;
}
.popBox04 .yelText dt {
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 1.3rem;
}
.popBox04 .yelText dt .lineTxt {
	display: inline-block;
	line-height: 1;
	background: url(../../image/common/line.png) repeat-x left bottom / auto 8px;
}
.popBox04 .yelText dd {
	margin-bottom: 17px;
	font-size: 1.1rem;
	line-height: 1.36;
}
.popBox04 .yelText dd:last-child {
	margin-bottom: 0;
}
.popBox04 .yelText .boldTxt {
	margin: 4px 0 0 10px;
	font-weight: bold;
}
.popBox04 .img02 {
	margin: -15px 0 0;
}
.popBox04 .img02 .posTxt01 {
	padding: 3px 6px;
	right: auto;
	left: 106px;
	top: 15px;
}
.popBox04 .img02 .posTxt02 {
	width: 202px;	
}
.popBox04 .img02 .txt01 {
	left: -0;
	top: 86px;
}
.popBox04 .img02 .txt02 {
	top: auto;
	left: 643px;
	bottom: 35px;
}
.popBox04 .img02 .txt03 {
	top: 80px;
	left: 680px;
}
.popBox04 .img03 .posTxt02 {
	width: 215px;
	top: -11px;
	left: 348px;
}
.popBox06 .popInner {
	width: 400px;
}
.popBox06 .img {
	text-align: center;
}
.popBox .comInner p a {
	color: #F09C9C;
}
.popBox07 .comBox {
	margin-bottom: 45px;
}
.popBox07 .mainBox01 .comInner {
	padding-bottom: 35px;
	width: 270px;
	box-sizing: border-box;
}
.popBox07 .mainBox01 .img {
	margin: -5px -5px 0 -50px;
	width: 709px;
}
.popBox07 .mainBox01 .img .txt01 {
	right: 325px;
	top: -10px;
}
.popBox07 .mainBox01 .img .txt02 {
	right: 170px;
	top: -10px;
}
.popBox07 .mainBox01 .img .txt03 {
	right: 10px;
	top: 230px;
}
.popBox07 .mainBox02 {
	align-items: stretch;
}
.popBox07 .mainBox02 .comInner {
	margin-bottom: 15px;
	width: 460px;
	box-sizing: border-box;
}
.popBox07 .mainBox02 .img {
	width: 469px;
	text-align: center;
}
.popBox08 .comBox {
	margin-bottom: 45px;
}
.popBox08 .mainBox .img {
	margin: -5px -10px 16px -0;
	width: 64%;
}
.popBox08 .mainBox .img .posTxt01 {
	right: auto;
	left: 86px;
	top: 525px;
	padding: 3px 5px;
}
.popBox08 .mainBox .img .txt01 {
	width: 202px;
	right: 59px;
	left: auto;
	top: -4px;
}
.popBox08 .mainBox .img .txt02 {
	width: 227px;
	right: 33px;
	left: auto;
	top: auto;
	bottom: 37px;
}
.popBox08 .mainBox .rBox {
	width: 320px;
}
.popBox08 .comInner {
	padding-bottom: 10px;
}
.popBox08 .mainBox .comInner {
	margin-bottom: 40px;
}
.popBox09 .mainBox .img01 {
	margin: 0;
	width: 449px;
}
.popBox09 .mainBox .rBox {
	width: 466px;
}
.popBox09 .mainBox .comInner {
	padding: 10px;
}
.popBox09 .mainBox .img02 {
	margin: -18px -10px 0;
	text-align: center;
}
.popBox09 .mainBox .posTxt01 {
	padding: 3px 5px;
	right: auto;
	left: 10px;
	top: 20px;
}
.popBox09 .mainBox .posTxt02 {
	left: auto;
	right: 40px;
	top: 40px;
	text-align: left;
}
.popBox10 .img {
	margin: 0 -5px 0 0;
}
.popBox10 .img .posTxt01 {
	right: auto;	
}
.popBox10 .img .txt01 {
	padding: 3px 5px;	
	left: 5px;
	top: 0;
}
.popBox10 .img .txt02 {
	left: 155px;
	top: 15px;
}
.popBox10 .img .txt03 {
	left: 190px;
	top: 185px;
}
.popBox15 .riyoudoPopImg {
    margin: -5px 0 -5px -0;
}
.popBox .comInnerUl li .comInner {
    min-height: 138px;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.fancybox-content {
    padding: 0;
    background-color: transparent;
}
.fancybox-button {
    display: none;
}
.popBox14 .comBox {
    margin-bottom: 45px;
}
.popBox14 .comInner {
    padding-bottom: 10px;
}
.popBox14 .internalcontactImg {
    text-align: center;
    margin: -12px 13px 0 0;
    position: relative;
}
.popBox14 .posTxt01 {
    right: 174px;
    top: 6px;
}
.popBox14 .posTxt03 {
    right: auto;
    left: 65px;
    top: 122px;
}
.popBox13 .comBox {
    margin-bottom: 45px;
}
.popBox13 .popSub {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.popBox13 .popSub:last-child {
    margin-bottom: 0;
}
.popBox13 .popSub .lBox {
    width: 475px;
    text-align: center;
}
.popBox13 .popSub .lBox .popPhoto {
    margin-right: -15px;
    position: relative;
}
.popBox13 .popSub .rBox {
    margin-top: 14px;
    width: 430px;
    text-align: center;
}
.popBox13 .comInner {
    padding-bottom: 10px;
}
.popBox13 .popSub .rBox .popPhoto {
    position: relative;
}
.popBox13 .posTxt01 {
    top: 25px;
}
.popBox13 .posTxt03 {
    top: -15px;
    right: auto;
    left: 10px;
}
.popBox13 .rBox .posTxt01 {
    top: -14px;
}
.popBox13 .popPhoto {
    display: inline-block;
}
.popBox13 .photo img {
    width: 100%;
}
.popBox13 .posTxt04 {
    right: auto;
    top: -10px;
    left: -30px;
}
.popBox13 .posTxt02 {
    left: auto;
    right: 9px;
    top: 167px;
    text-align: left;
}
.popBox13 .rBox .posTxt02 {
    right: 25px;
    top: 147px;
}
.popBox13 .internalcontactTxt {
    top: auto;
    bottom: 14px;
    right: auto;
    left: 138px;
}
.popBox13 .popSub .pickupBox {
    margin-top: 8px;
}
.popBox13 .pickupBox .posTxt01 {
    top: -9px;
}
.popBox11 .popSub {
    position: relative;
    margin-top: -4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.popBox11 .popSub .lBox {
    margin-top: 53px;
    width: 310px;
    text-align: center;
    position: relative;
}
.popBox11 .popSub .rBox {
    margin-right: -4px;
}
.popBox11 .posTxt01 {
    right: auto;
    left: 0;
    top: 5px;
}
.popBox11 .popSub > .posTxt01 {
    padding: 4px 6px 1px;
}
.popBox11 .popSub .lBox .posTxt01 {
    top: 14px;
    left: 25px;
}
.popScroll {
    max-height: 700px;
    overflow-y: scroll;
}
.subScroll {
    padding-right: 7px;
}
.popScroll .comBox p {
    font-weight: bold;
}
.popBox06 .popScroll {
    max-height: 435px;
}
.fancybox-bg {
    background: rgba(126,129,149,0.8);
}
.jspVerticalBar {
	width: 4px;
    right: -0;
    top: 20px;
	box-sizing: border-box;
	background-color: #7E8195;
}
.jspTrack {
	background-color: #fff;
}
.jspHorizontalBar {
	display: none;
}
.jspVerticalBar .jspDrag {
	margin: 0 auto;
	background-color: #7E8195;
    border-radius: 2px;
}














