@charset "utf-8";
/*------------------------------------------------------------
	index
------------------------------------------------------------*/
#main {
	margin-bottom: 0;
}
.comInfo02 {
	margin-bottom: 58px;
	padding: 34px 40px 36px;
	width: 732px;
}
.pageTitle05 {
	padding: 54px 0 94px;
}
.pageTitle05 .content .img {
	bottom: -210px;
}
.comInfo02 {
	margin-bottom: 64px;
}
#main .pointUl {}
#main .pointUl li {
	padding: 59px 0 35px;
	border-top: 1px solid #D6DFE3;
}
#main .pointUl li .photo {
	margin-top: 5px;
	width: 316px;
}
#main .pointUl li .photo img {
	width: 100%;
}
#main .pointUl li .imgBox {
	width: 656px;
	margin: 0 auto;
}
#main .pointUl li .textBox {
	margin-right: 24px;
	flex: 1;
}
#main .pointUl li .textBox .en {
	margin-bottom: 6px;
	color: #48BEC9;
	font-size: 1.8rem;
	font-weight: 600;
}
#main .pointUl li .textBox h3 {
	margin-bottom: 14px;
	font-size: 2.4rem;
	line-height: 1.416;
}
.comContact {
	margin-top: 24px;
}
@media all and (max-width: 896px) {
	.pageTitle05 {
		padding: 57px 0 60px;
	}
	.comTab {
		margin-right: 0;
		overflow-y: inherit;
		justify-content: space-between;
	}
	.comTab li {
		margin-right: 0;
		width: 47.8%;
	}
	.comInfo02 {
		margin: -54px 0 18px;
		padding: 19px 24px 19px;
		width: auto;
	}
	.comBanner {
		margin-bottom: 28px;
	}
	#main .pointUl li {
		padding: 19px 15px 24px;
	}
	#main .pointUl li .imgBox {
		width: auto;
	}
	#main .pointUl li .textBox {
		width: auto;
		margin: 0 0 7px;
	}
	#main .pointUl li .photo {
		width: auto;
		border-radius: 8px;
		overflow: hidden;
	}
	#main .pointUl li .textBox h3 {
		margin-bottom: 5px;
	}
	#main {
		margin-bottom: 0 !important;
	}
	.comContact {
		margin-top: 0;
	}
}